:root {
  /* Colors */
  --surface-tint: #a33e00;
  --surface-dim: #eed5cb;
  --secondary-fixed: #e5e2e1;
  --surface: #fff8f6;
  --primary-container: #c74e00;
  --on-primary-container: #fffbff;
  --on-primary-fixed: #360f00;
  --on-secondary: #ffffff;
  --on-surface-variant: #594137;
  --on-tertiary-container: #fefcff;
  --error-container: #ffdad6;
  --on-tertiary: #ffffff;
  --secondary-container: #e5e2e1;
  --surface-container-lowest: #ffffff;
  --error: #ba1a1a;
  --on-tertiary-fixed: #001c3b;
  --on-surface: #261813;
  --on-error: #ffffff;
  --on-error-container: #93000a;
  --outline-variant: #e1bfb2;
  --inverse-on-surface: #ffede7;
  --tertiary-fixed: #d5e3ff;
  --surface-container-highest: #f7ddd3;
  --on-secondary-fixed: #1c1b1b;
  --inverse-surface: #3c2d27;
  --on-secondary-container: #656464;
  --surface-container-low: #fff1ec;
  --primary-fixed: #ffdbcd;
  --secondary-fixed-dim: #c8c6c5;
  --inverse-primary: #ffb596;
  --on-primary: #ffffff;
  --surface-container: #ffe9e2;
  --secondary: #5f5e5e;
  --background: #fff8f6;
  --tertiary: #005cad;
  --on-tertiary-fixed-variant: #004787;
  --outline: #8d7165;
  --surface-bright: #fff8f6;
  --on-secondary-fixed-variant: #474646;
  --tertiary-container: #0075d8;
  --surface-container-high: #fde3d9;
  --on-primary-fixed-variant: #7c2e00;
  --primary-fixed-dim: #ffb596;
  --surface-variant: #f7ddd3;
  --primary: #9f3d00;
  --tertiary-fixed-dim: #a6c8ff;
  --on-background: #261813;

  /* Fonts */
  --font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--on-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  outline: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

phantom-ui {
  display: block;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

/* Utilities */
.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.level-1-shadow {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.04);
}

.level-2-shadow {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  transition: background-color 200ms ease-in-out;
  padding: 16px 32px;
  font-weight: bold;
  border-radius: 0.25rem; /* DEFAULT rounded */
}

.btn-primary:hover {
  background-color: var(--primary-container);
}
